
    button.card {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: none;
        transition: transform 0.2s, box-shadow 0.3s;
    }

    button.card:focus,
    button.card:active {
        outline: none;
        box-shadow: none;
    }

